---
import PopularArticles from '../../components/PopularArticles.astro';
import Layout from "../../layouts/Layout.astro";
import Congresos from '../../components/Congreso.astro';


---

<Layout title={"I Congreso Internacional de Salud Sexual y Reproductiva con Enfoque Intercultural Basado en Evidencia - Cusco 2024"} description={"El I Congreso Internacional de Salud Sexual y Reproductiva con Enfoque Intercultural Basado en Evidencia se llevará a cabo en la histórica ciudad de Cusco en 2024. Este evento de trascendencia internacional reunirá a expertos, investigadores y profesionales de la salud de toda Latinoamérica para abordar los desafíos y avances en la salud sexual y reproductiva, integrando conocimientos científicos y prácticas interculturales."} image={"/assets/inicio/congreso.jpg"}>
  <!-- ====== Blog Details Section Start -->
  <section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 dark:bg-dark">
    <div class="container">
      <div class="-mx-4 flex flex-wrap justify-center">
        <div class="w-full px-4">
          <div
            class="wow fadeInUp relative z-20 mb-[50px] h-[300px] overflow-hidden rounded-[5px] md:h-[400px] lg:h-[500px]"
            data-wow-delay=".1s"
          >
            <img
              src="/assets/inicio/congreso.jpg"
              alt="Congreso Internacional de Salud Sexual"
              class="h-full w-full object-cover object-center"
            />
            <div
              class="absolute top-0 left-0 z-10 flex h-full w-full items-end bg-gradient-to-t from-dark-700 to-transparent"
            >
              <div class="flex flex-wrap items-center p-4 pb-4 sm:px-8">
                <div class="mb-4 mr-5 flex items-center md:mr-10">
                  <div class="mr-4 h-10 w-10 overflow-hidden rounded-full">
                    <img
                      src="/assets/inicio/00.jpg"
                      alt="Decana"
                      class="w-full"
                    />
                  </div>
                  <p class="text-base font-medium text-white">
                    Decana Regional
                    <a
                      href="javascript:void(0)"
                      class="text-white hover:opacity-70"
                    >
                        Obsta. Emiliana Huacasi Herrera 
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4 lg:w-8/12">
              <div>
                <h1
                  class="wow fadeInUp mb-8 text-2xl font-bold text-dark dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28]"
                  data-wow-delay=".1s"
                >
                    I Congreso Internacional de Salud Sexual y Reproductiva con Enfoque Intercultural Basado en Evidencia - Cusco 2024
                </h1>
                <p
                  class="wow fadeInUp mb-6 text-base text-body-color dark:text-dark-6"
                  data-wow-delay=".1s"
                >
                    El congreso se presenta como una plataforma única para el intercambio de conocimientos y experiencias en el ámbito de la salud sexual y reproductiva. Con un enfoque que privilegia la integración intercultural, el evento busca fomentar la comprensión y el respeto por las diversas prácticas y creencias culturales en la región. Los participantes tendrán la oportunidad de asistir a conferencias magistrales, talleres interactivos y mesas redondas, donde se discutirán temas cruciales como la educación sexual, la planificación familiar, la prevención de enfermedades de transmisión sexual y el acceso a servicios de salud de calidad.
                </p>
                <p
                  class="wow fadeInUp mb-8 text-base text-body-color dark:text-dark-6"
                  data-wow-delay=".1s"
                >
                    Uno de los objetivos centrales del congreso es promover políticas y prácticas de salud basadas en evidencia científica, adaptadas a los contextos culturales específicos de las comunidades latinoamericanas. La diversidad cultural y la riqueza de las tradiciones indígenas serán puntos focales en la discusión, reconociendo su importancia para la salud y el bienestar de las poblaciones. Además, el evento servirá como un espacio para la colaboración entre diferentes actores, incluyendo gobiernos, organizaciones no gubernamentales y comunidades locales, con el fin de desarrollar estrategias efectivas y sostenibles que mejoren la salud sexual y reproductiva en la región.
                </p>
                <h2
                  class="wow fadeInUp mb-6 text-2xl font-bold text-dark dark:text-white sm:leading-[40px] sm:text-[28px]"
                  data-wow-delay=".1s"
                >
                    Perspectivas Regionales y Globales en la Salud Sexual y Reproductiva
                </h2>
                <p
                  class="wow fadeInUp mb-10 text-base text-body-color dark:text-dark-6"
                  data-wow-delay=".1s"
                >
                    l congreso también servirá como un foro para explorar las perspectivas regionales y globales en la salud sexual y reproductiva. Expertos internacionales compartirán estudios de caso y mejores prácticas de diferentes partes del mundo, proporcionando una visión comparativa que enriquecerá las discusiones y debates. Este intercambio global fomentará la adopción de enfoques innovadores y adaptables a distintos contextos locales, promoviendo un aprendizaje mutuo que beneficiará a todas las partes involucradas. Así, el evento no solo se centrará en la realidad latinoamericana, sino que también ampliará su alcance a una comprensión global de la salud sexual y reproductiva.
                </p>
                <div
                  class="wow fadeInUp relative z-10 mb-10 overflow-hidden rounded-[5px] bg-primary/5 py-8 px-6 text-center sm:p-10 md:px-[60px]"
                  data-wow-delay=".1s"
                >
                  <div class="mx-auto max-w-[530px]">
                    <span class="mb-[14px] flex justify-center text-primary">
                      <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="fill-current">
                        <path
                          d="M13.7995 35.5781C12.937 35.5781 12.1464 35.075 11.8589 34.2844L9.48702 28.5344C6.82765 28.1031 4.45577 26.7375 2.9464 24.6531C1.36515 22.5687 0.862021 19.9812 1.5089 17.4656C2.51515 13.3687 6.75577 10.2781 11.4276 10.35C14.7339 10.4219 17.4651 11.7875 19.262 14.2312C20.987 16.675 21.4183 19.9812 20.412 23C19.4776 25.7312 18.2558 28.4625 17.1058 31.1219C16.6745 32.2 16.1714 33.2781 15.7401 34.2844C15.4526 35.075 14.662 35.5781 13.7995 35.5781ZM11.2839 13.5844C8.1214 13.5844 5.2464 15.5969 4.59952 18.2562C4.24015 19.8375 4.52765 21.4187 5.5339 22.7125C6.6839 24.2937 8.62452 25.3 10.7089 25.4437L11.7151 25.5156L13.7995 30.5469C13.8714 30.3312 14.0151 30.0437 14.087 29.8281C15.237 27.2406 16.387 24.5812 17.2495 21.9219C17.9683 19.9094 17.6808 17.6812 16.5308 16.1C15.3808 14.5187 13.5839 13.6562 11.3558 13.5844C11.3558 13.5844 11.3558 13.5844 11.2839 13.5844Z" />
                        <path
                          d="M37.5905 35.65C36.728 35.65 35.9374 35.1469 35.6499 34.3563L33.278 28.6063C30.6187 28.175 28.2468 26.8094 26.7374 24.725C25.1562 22.6406 24.653 20.0531 25.2999 17.5375C26.3062 13.4406 30.5468 10.35 35.2187 10.4219C38.5249 10.4938 41.2562 11.8594 42.9812 14.3031C44.7062 16.7469 45.1374 20.0531 44.1312 23.0719C43.1968 25.8031 41.9749 28.5344 40.8249 31.1938C40.3937 32.2719 39.8905 33.35 39.4593 34.3563C39.2437 35.1469 38.453 35.65 37.5905 35.65ZM35.0749 13.5844C31.9124 13.5844 29.0374 15.5969 28.3905 18.2563C28.0312 19.8375 28.3187 21.4188 29.3249 22.7844C30.4749 24.3656 32.4155 25.3719 34.4999 25.5156L35.5062 25.5875L37.5905 30.6188C37.6624 30.4031 37.8062 30.1156 37.878 29.9C39.028 27.3125 40.178 24.6531 41.0405 21.9938C41.7593 19.9813 41.4718 17.7531 40.3218 16.1C39.1718 14.5188 37.3749 13.6563 35.1468 13.5844C35.1468 13.5844 35.1468 13.5844 35.0749 13.5844Z" />
                      </svg>
                    </span>
                    <p
                      class="mb-[18px] text-base italic leading-[28px] text-dark dark:text-white"
                    >
                        "Abordar la salud sexual y reproductiva desde una perspectiva intercultural y basada en evidencia nos permite desarrollar soluciones inclusivas y efectivas que reflejan la diversidad y las necesidades de nuestras comunidades."
                    </p>
                    <span class="text-xs italic text-body-color dark:text-dark-6">
                      “investigadora en salud pública y ponente del Congreso.”
                    </span>
                  </div>
                  <div>
                    <span class="absolute left-0 top-0">
                      <svg width="103" height="109" viewBox="0 0 103 109" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="0.483916" cy="3.5" rx="102.075" ry="105.5" transform="rotate(180 0.483916 3.5)"
                          fill="url(#paint0_linear_2014_9016)" />
                        <defs>
                          <linearGradient id="paint0_linear_2014_9016" x1="-101.591" y1="-50.4346" x2="49.1618"
                            y2="-49.6518" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.15" />
                            <stop offset="1" stop-color="white" stop-opacity="0" />
                          </linearGradient>
                        </defs>
                      </svg>
                    </span>
                    <span class="absolute bottom-0 right-0">
                      <svg width="102" height="106" viewBox="0 0 102 106" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="102.484" cy="105.5" rx="102.075" ry="105.5" fill="url(#paint0_linear_2014_9017)" />
                        <defs>
                          <linearGradient id="paint0_linear_2014_9017" x1="0.409163" y1="51.5654" x2="151.162"
                            y2="52.3482" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.15" />
                            <stop offset="1" stop-color="white" stop-opacity="0" />
                          </linearGradient>
                        </defs>
                      </svg>
                    </span>
                  </div>
                </div>
                
                <!-- <div class="container mx-auto p-4">
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                      <div class="aspect-w-9 aspect-h-16">
                        <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/WVBaAcyfQVk?si=QBSV95Q8wT63i8Cs" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="aspect-w-9 aspect-h-16">
                        <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/NRgBq7CuTM0?si=5shbKGIWrRhBde5s" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="aspect-w-9 aspect-h-16">
                        <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/d69DORpiRO0" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <div class="aspect-w-9 aspect-h-16">
                        <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/LxLoWnG95BM" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="w-full px-4 lg:w-4/12">
              <div>
                <!-- <Newsletterbox /> -->
                <!-- <PopularArticles /> -->

                <div
                  class="wow fadeInUp mb-12 overflow-hidden rounded-[5px]"
                  data-wow-delay=".1s"
                >
                  <img
                    src="/assets/blog/bannder-ad.png"
                    alt="image"
                    class="w-full"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Congresos />
  <!-- ====== Blog Details Section End -->
</Layout>