<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
      <div class="max-w-4xl mx-auto p-6">
          <!-- Solicitud de Adscripción -->
          <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
            REQUISITOS PARA SOLICITUD DE ADSCRIPCIÓN AL CRO X CUSCO
          </h1>
          <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
              <li>Solicitud de adscripción al CRO X Cusco.</li>
              <li>Carta de cese o carta de adscripción de su anterior CRO.</li>
              <li>Copia de DNI.</li>
              <li>Copia de carnet o copia de título como obstetra colegiada.</li>
              <li>Última habilidad (opcional).</li>
          </ol>
      </div>
    </div>
</section>
