
<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
      <div class="max-w-4xl mx-auto p-6">
          <!-- Recarnetización -->
          <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">REQUISITOS PARA TRÁMITE DE RECARNETIZACIÓN</h1>
          <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
              <li>Solicitud de Recarnetización dirigida a la Decana o Decano Regional según corresponda.</li>
              <li>Copia simple de Habilidad Profesional en formato oficial.</li>
              <li>
                  Ficha de carnet:
                  <ul class="list-disc pl-6 mt-2 space-y-2">
                      <li>Registrar datos en formato oficial, deben ser manuscritos por el colegiado.</li>
                      <li>Rellenar todos los campos de la ficha de carnet.</li>
                  </ul>
              </li>
              <li>01 Foto actual con uniforme oficial, tamaño pasaporte en fondo blanco y pegada en la ficha de carnet.</li>
              <li>Voucher de pago realizado en el Banco de la Nación o Banco de Comercio.</li>
          </ol>
  
          <!-- Duplicado -->
          <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">REQUISITOS PARA TRÁMITE DE DUPLICADO</h1>
          <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
              <li>Solicitud de duplicado de carnet, dirigida a la Decana o Decano Regional según corresponda.</li>
              <li>Copia simple de Habilidad Profesional en formato oficial.</li>
              <li>
                  Ficha de carnet:
                  <ul class="list-disc pl-6 mt-2 space-y-2">
                      <li>Registrar datos en formato oficial, deben ser manuscritos por el colegiado.</li>
                      <li>Rellenar con letra legible todos los campos de la ficha de carnet.</li>
                  </ul>
              </li>
              <li>01 Foto actual con uniforme oficial, tamaño pasaporte en fondo blanco y pegada en la ficha de carnet.</li>
              <li>Voucher de pago realizado en Banco de la Nación o Banco de Comercio.</li>
              <li>Copia de la denuncia policial por pérdida o robo.</li>
          </ol>
  
          <!-- Formato Ficha de Carnet -->
          <h2 class="text-xl font-bold mb-4 text-center text-primary dark:text-white">FORMATO: FICHA DE CARNET</h2>
          
      </div>
      <div class="w-full flex justify-center mx-auto lg:px-52">
        <img src="/assets/tramites/carnet.jpg" alt="cronograma" class="w-auto h-auto object-cover">
      </div>
    </div>
</section>