
<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
  <div class="container">
    
    <div class="w-full flex justify-center mx-auto md:px-28 ">
      <img src="/assets/tramites/cronograma-colegiatura.jpg" alt="cronograma" class="w-auto h-auto object-cover">
    </div>
    <div class="max-w-5xl mx-auto p-6">
      <h1 class="text-2xl font-bold text-center mb-6 text-primary dark:text-white">
        REQUISITOS PARA EL REGISTRO NACIONAL DE INSCRIPCIÓN DE COLEGIADOS
      </h1>
      <ol class="list-decimal pl-6 space-y-4 text-body-color dark:text-dark-6">
        <li>
          Formato de solicitud de Inscripción al Colegio Obstetras del Perú con letra imprenta legible y firma de acuerdo al DNI.
        </li>
        <li>
          Ficha de inscripción del titulado postulante al Colegio Obstetras del Perú con los datos debidamente consignados.
        </li>
        <li>
          Ficha de datos personales para el carnet de colegiado, debidamente llenado y firmado.
        </li>
        <li>
          Declaración Jurada de no tener antecedentes penales y/o policiales.
        </li>
        <li>
          Declaración jurada de autenticidad de documentos.
        </li>
        <li>
          Cuatro (04) fotografías tamaño pasaporte, a color, fondo blanco y uniforme oficial.
        </li>
        <li>
          Documento nacional de identidad (DNI).
        </li>
        <li>
          Título Profesional original otorgado por la universidad peruana y copia simple.
        </li>
        <li>
          Constancia de Inscripción en el registro nacional de grados y títulos SUNEDU o la Institución que haga sus veces del Título Profesional y bachiller.
        </li>
        <li>
          Constancia original de Valoración de Competencias profesionales, emitido por el COP, según los artículos 19° y 20° del Estatuto del COP.
        </li>
        <li>
          Constancia del curso taller de fortalecimiento de competencias y normatividad para el ejercicio profesional, emitido por el COP.
        </li>
        <li>
          Comprobantes de pago, según tarifario consignando sus datos personales.
        </li>
      </ol>
    </div>
    <div class="max-w-5xl mx-auto p-6">
      <h1 class="text-2xl font-bold text-center mb-6 text-primary dark:text-white">
        RECOMENDACIONES PARA LOS COLEGIOS REGIONALES DE LOS PROCESOS DE COLEGIATURA
      </h1>
      <ol class="list-decimal pl-6 space-y-4 text-body-color dark:text-dark-6">
        <li>
          La carpeta de colegiación y ficha de inscripción debe estar correctamente llenada con lapicero negro, letra legible y sin enmendaduras y los sellos respectivos.
        </li>
        <li>
          Para la impresión digital en la declaración jurada usar tampón de almohadilla dactilar negro (no tinta para sellos).
        </li>
        <li>
          Las fotografías tamaño pasaporte fondo blanco con uniforme institucional (camisa/blusa guinda y saco blanco). Escribir apellidos y CRO al reverso.
        </li>
        <li>
          La copia simple del DNI debe ser legible y vigente.
        </li>
        <li>
          En caso el pago se haga en el banco, el voucher original debe ser legible (a cuenta del Colegio de Obstetras del Perú por concepto de colegiación).
        </li>
        <li>
          La copia simple de boleta será legible (Por concepto de incorporación al colegio regional de origen).
        </li>
        <li>
          Título profesional original otorgado por la universidad peruana, bien protegido para no deterioro.
        </li>
        <li>
          Constancia de inscripción en el registro Nacional de grados y títulos de la SUNEDU del título profesional con su respectivo código virtual.
        </li>
        <li>
          Constancia de inscripción en el registro nacional de grados y títulos la SUNEDU del bachiller con su respectivo código virtual.
        </li>
        <li>
          Copia simple a color del título de ambas caras.
        </li>
        <li>
          Copia simple a color del bachiller de ambas caras.
        </li>
      </ol>
    </div>
  </div> 
</section>