
<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
      <div class="max-w-5xl mx-auto p-6">
        <h1 class="text-2xl font-bold text-center mb-6 text-primary dark:text-white">REQUISITOS PARA EL REGISTRO NACIONAL DE INSCRIPCIÓN DE COLEGIADOS</h1>
        <p class="mb-4 text-body-color dark:text-dark-6">La Carpeta de Colegiación que presente el titulado postulante de universidad peruana constará de:</p>
        <ol class="list-decimal pl-6 space-y-4 text-body-color dark:text-dark-6">
            <li>Solicitud de Inscripción al Colegio Obstetras del Perú.</li>
            <li>Ficha de Inscripción al Colegio Obstetras del Perú con los datos debidamente consignados, con fotos.</li>
            <li>Ficha de datos para el Carné de Colegiado, debidamente llenado, con foto y firmado.</li>
            <li>Declaración Jurada de no tener antecedentes penales y/o policiales.</li>
            <li>Cinco (05) fotografías tamaño pasaporte, a color fondo blanco y con uniforme oficial (saco blanco y blusa guinda).</li>
            <li>
                Váucher o comprobantes de pago, según tarifario:
                <ul class="list-disc pl-6 space-y-2 mt-2">
                    <li>COLEGIATURA ORDINARIA S/. 817.00 (Banco de la Nación Cta. N 00-068-346495)</li>
                    <li>CRO X - CUSCO S/. 338.00 + APORTACIONES S/. 45.00 + COSTO DE CARPETA S/. 20.00</li>
                </ul>
            </li>
            <li>Título Profesional original otorgado por la universidad peruana.</li>
            <li>Copia de Documento Nacional de Identidad (DNI) ampliado.</li>
            <li>Constancia de Inscripción en el registro Nacional de grados y títulos del Título Profesional, elaborado en papel autorizado por la SUNEDU con su respectivo código de barra.</li>
            <li>Constancia de Inscripción en el registro Nacional de grados y títulos del Bachiller elaborado en papel autorizado por la SUNEDU con su respectivo código de barra.</li>
            <li>Copia del Título Profesional legalizada en ambas caras por el Secretario General de la misma Universidad.</li>
            <li>Copia del Diploma de Bachiller, legalizada en ambas caras por el Secretario General de la misma Universidad.</li>
            <li>Copias de los Certificados de Estudios Universitarios, legalizadas en ambas caras por el Secretario General de la misma universidad, señalando los cursos desde el primer ciclo hasta el internado, Conteniendo los nombres, cargos, sellos y firmas de las autoridades universitarias.</li>
            <li>Constancia de rotaciones del Internado en formato oficial de la universidad, original o en copia legalizada por el fedatario de la misma institución.</li>
            <li>Copia de la Constancia de Ingreso a la universidad, legalizada por el Secretario General de la misma Universidad.</li>
            <li>Constancia de la Valoración de competencias de desempeño profesional vigente.</li>
            <li>Constancia de pasantía con rotación de 150 horas en establecimiento de salud nivel I-4 hasta III.</li>
            <li>Copia de la Resolución de traslado interno o externo universitario, legalizada por el Secretario General de la universidad.</li>
            <li>Constancia original de asistencia y aprobación (con nota de 14 a más) del Curso de Pre-colegiatura.</li>
            <li>Curso de competencia de desempeño de colegiado S/. 150.00</li>
        </ol>
      </div>
      <div class="w-full flex justify-center mx-auto md:px-28 py-6">
        <img src="/assets/tramites/cronograma-colegiatura.jpg" alt="cronograma" class="w-auto h-auto object-cover">
      </div>
    </div>
</section>