<!-- ====== Requisitos Section Start -->
<section id="requisitos" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
  <div class="container">
    
    <div class="w-full flex justify-center mx-auto lg:px-28">
      <img src="/assets/tramites/cronograma-especialistas.jpg" alt="Ficha de carnet" class="w-auto h-auto object-cover">
    </div>
    <div class="max-w-4xl mx-auto p-6">
        <!-- Registro de Especialistas (Perú) -->
        <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
          REQUISITOS PARA REGISTRO DE ESPECIALISTAS CON TÍTULOS OBTENIDOS EN EL PERÚ
        </h1>
        <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
            <li>Solicitud según Formato, dirigida a la Decana del Colegio de Obstetras del Perú.</li>
            <li>Ficha de datos, según formato.</li>
            <li>Declaración Jurada, según formato.</li>
            <li>Tres fotografías tamaño pasaporte, fondo blanco y con uniforme oficial.</li>
            <li>Título Universitario original de Especialista o de Segunda Especialidad Profesional, con sus respectivos sellos, nombres, apellidos, cargos y firmas de las Autoridades Universitarias acreditadas, refrendado por la Secretaría General de la Universidad que otorga y, registrado en la SUNEDU o en la Institución que haga sus veces.</li>
            <li>Fotocopia de Título Universitario original de Especialista o de Segunda Especialidad Profesional, con las exigencias señaladas en ítem anterior, fedateada por Autoridad del COP Nacional o Regional.</li>
            <li>Constancia original de Habilidad Profesional, en formato autorizado por el COP.</li>
            <li>Fotocopia del Documento Nacional de Identidad, fedateada por Autoridad del COP Nacional o Regional.</li>
            <li>Comprobante(s) de aporte(s) por concepto de Inscripción en el RENOE, según Tarifario y Jurisdicción.</li>
        </ol>

        <!-- Registro de Especialistas (Extranjero) -->
        <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
          REQUISITOS PARA REGISTRO DE ESPECIALISTAS CON TÍTULOS OBTENIDOS EN EL EXTRANJERO
        </h1>
        <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
            <li>Solicitud según Formato, dirigida al Decano Nacional del COP.</li>
            <li>Ficha de datos, según formato.</li>
            <li>Declaración Jurada, según formato.</li>
            <li>Tres fotografías tamaño pasaporte, fondo blanco y con uniforme oficial.</li>
            <li>Título Universitario original de Especialista o de Segunda Especialidad Profesional, con sus respectivos sellos, nombres, apellidos, cargos y firmas de las Autoridades Universitarias acreditadas, refrendado por la Secretaría General de la Universidad que otorga y, registrado en la SUNEDU o en la Institución que haga sus veces.</li>
            <li>Fotocopia de Título Universitario original de Especialista o de Segunda Especialidad Profesional, con las exigencias señaladas en el ítem anterior, fedateada por Autoridad del COP Nacional o Regional.</li>
            <li>Constancia original de Habilidad Profesional, en formato autorizado por el COP.</li>
            <li>Fotocopia del Documento Nacional de Identidad, fedateada por Autoridad del COP Nacional o Regional.</li>
            <li>Comprobante(s) de aporte(s) por concepto de Inscripción en el RENOE, según Tarifario y Jurisdicción.</li>
            <li>Título original Profesional, revalidado por Universidad Peruana autorizada o reconocida por la SUNEDU o por la Institución que haga sus veces.</li>
            <li>Título Universitario Original de Especialista o de Segunda Especialidad Profesional, revalidado por Universidad Peruana autorizada o reconocida por la SUNEDU o por la Institución que haga sus veces.</li>
        </ol>

        <!-- Registro de Obstetras con Maestría -->
        <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
          REQUISITOS PARA REGISTRO DE OBSTETRAS CON MAESTRÍA
        </h1>
        <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
            <li>Solicitud según formato, dirigida al Decano Nacional del COP.</li>
            <li>Fichas de datos, según formato.</li>
            <li>Declaración Jurada según formato.</li>
            <li>Dos (02) fotografías actuales (no mayor a un año) tamaño pasaporte, fondo blanco y con uniforme oficial.</li>
            <li>Diploma del Grado correspondiente; con sus respectivos sellos oficiales, nombres y Apellidos completos, cargos y firmas de las autoridades universitarias acreditadas, refrendado por la Secretaría General de la Universidad que otorga y registrado en la SUNEDU o en la institución que haga sus veces.</li>
            <li>Fotocopia de Diploma del Grado correspondiente; fedateada por autoridad del COP.</li>
            <li>Constancia original de habilidad profesional en formato autorizado por el COP.</li>
            <li>Fotocopia del documento nacional de identidad, fedateada por autoridad del COP.</li>
            <li>Comprobante de aporte por concepto de Inscripción en el RENOMA o RENODO según Tarifario.</li>
        </ol>

        <!-- Registro de Obstetras con Doctorado -->
        <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
          REQUISITOS PARA REGISTRO DE OBSTETRAS CON DOCTORADO
        </h1>
        <ol class="list-decimal pl-6 space-y-4 mb-8 text-body-color dark:text-dark-7">
            <li>Solicitud según formato, dirigida a Decano Nacional del COP.</li>
            <li>Fichas de datos, según formato.</li>
            <li>Declaración Jurada según formato.</li>
            <li>Dos (02) fotografías actuales (no mayor a un año) tamaño pasaporte, fondo blanco y con Uniforme oficial.</li>
            <li>Diploma del Grado correspondiente; con sus respectivos sellos oficiales, nombres y Apellidos completos, cargos y firmas de las autoridades universitarias acreditadas, Refrendado por la Secretaría General de la Universidad que otorga y registrado en la SUNEDU o en la institución que haga sus veces.</li>
            <li>Fotocopia de Diploma del Grado correspondiente; fedateada por autoridad del COP.</li>
            <li>Constancia original de habilidad profesional en formato autorizado por el COP.</li>
            <li>Fotocopia del documento nacional de identidad, fedateada por autoridad del COP.</li>
            <li>Comprobante de aporte por concepto de Inscripción en el RENOMA o RENODO según Tarifario.</li>
        </ol>        
    </div>
  </div>
</section>
