<!-- ====== Habilidad Section Start ====== -->
<section id="habilidad" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
        <div class="max-w-4xl mx-auto p-6">
            <!-- Título de la Sección -->
            <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
                Requisitos para Obtener Habilidad
            </h1>

            <ul class="list-disc pl-6 space-y-4 text-lg text-body-color dark:text-dark-7 mb-8">
                <li>Enviar un mensaje al número <strong>914860972</strong> para la cotización de deudas.</li>
                <li>Realizar el depósito a las cuentas del Colegio Regional de Obstetras X Cusco según cotización:
                    <div class="w-full flex justify-center mx-auto lg:px-52">
                        <img src="/assets/tramites/cuentas.png" alt="Depósito Cuentas Colegio Regional" class="w-auto h-auto object-cover">
                    </div>
                </li>
                <li>Enviar al número su voucher o captura de pantalla del depósito indicando datos completos y número de COP.</li>
            </ul>
        </div>
    </div>
</section>
<!-- ====== Habilidad Section End ====== -->
