---
const images01 = [
  {
    image: '/assets/capacitacion/img02.jpg',
  },
  // {
  //   image: '/assets/congreso/23.jpeg',
  // },
  // {
  //   image: '/assets/congreso/24.jpeg',
  // },
  // {
  //   image: '/assets/congreso/25.jpeg',
  // },
  // {
  //   image: '/assets/congreso/26.jpeg',
  // },
  // {
  //   image: '/assets/congreso/27.jpeg',
  // },
  // {
  //   image: '/assets/congreso/28.jpeg',
  // },
  // {
  //   image: '/assets/congreso/29.jpeg',
  // },
];
---

<div id="imageModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden z-50 ">
    <div class="overflow-hidden max-w-4xl w-full h-full md:pt-28 rounded-xl">
      <div class="relative w-full h-full rounded-xl">
        <img id="modalImage" src="" alt="Imagen en el Modal" class="w-full h-full object-contain rounded-xl">
        <button id="closeModal" class="absolute bottom-4 right-4 text-white bg-primary rounded-full w-8 h-8 flex items-center justify-center">&times;</button>
      </div>
    </div>
</div>
<!-- <div id="imageModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full h-full flex items-center justify-center">
      <div class="relative w-full h-full">
        <button id="closeModal" class="absolute top-2 right-2 text-white bg-gray-800 rounded-full w-8 h-8 flex items-center justify-center">&times;</button>
        <img id="modalImage" src="" alt="Imagen en el Modal" class="w-full h-full object-contain">
      </div>
    </div>
  </div> -->
<section id="images01" class="py-20 md:py-[90px] bg-gray-1 dark:bg-dark-2 overflow-hidden">
  <div class="container px-4">
    <div class="flex flex-wrap justify-center -mx-4">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[485px] text-center">
          <span class="block my-8 text-lg font-semibold text-primary">
            Comunicados Oficiales
          </span>
          <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
            COMITÉ ELECTORAL REGIONAL X CUSCO 2024-2025
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            RESULTADO DE SORTEO DE LISTAS
          </p>
          <!-- <ul class="list-disc list-inside text-body-color dark:text-dark-6 mb-4 space-y-2">
            <li>Hipertensión inducida por el embarazo</li>
            <li>Infecciones durante el embarazo, parto y puerperio</li>
            <li>Hemorragia en la primera y segunda mitad del embarazo</li>
          </ul>
        
          <p class=" text-body-color dark:text-dark-6 mb-4">
            <span class="font-semibold">Ponente:</span><br>
            Dr. Wilber Román Lantarón<br>
            Ginecólogo - Obstetra
          </p>
        
          <p class=" text-body-color dark:text-dark-6">
            Este curso representa una oportunidad invaluable para actualizar y mejorar las habilidades clínicas en el manejo de emergencias obstétricas bajo la guía de expertos reconocidos en el campo. <span class="font-semibold">¡No te lo pierdas!</span>
          </p> -->
        </div>
      </div>
    </div>
    <div class="max-w-4xl mx-auto p-6">
    <div class="w-full px-4">
      <div class="wow fadeInUp relative z-10 mx-auto max-w-[1045px]" data-wow-delay=".25s">
        <!-- Visualizador de PDF -->
        <div class="pdf-container border border-gray-300 rounded-lg shadow-lg overflow-hidden">
          <iframe 
              src="/assets/capacitacion/sorteo.pdf" 
              width="100%" 
              height="800px" 
              class="rounded-lg shadow-md" 
              title="Visualizador de PDF">
          </iframe>
      </div>
      </div>
    </div>

  </div>
</section>
