---
const testimonials = [
  {
    image: '/assets/congreso/22.jpeg',
  },
  {
    image: '/assets/congreso/23.jpeg',
  },
  {
    image: '/assets/congreso/24.jpeg',
  },
  {
    image: '/assets/congreso/25.jpeg',
  },
  {
    image: '/assets/congreso/26.jpeg',
  },
  {
    image: '/assets/congreso/27.jpeg',
  },
  {
    image: '/assets/congreso/28.jpeg',
  },
  {
    image: '/assets/congreso/29.jpeg',
  },
];
---

<div id="imageModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden z-50 ">
    <div class="overflow-hidden max-w-4xl w-full h-full md:pt-28 rounded-xl">
      <div class="relative w-full h-full rounded-xl">
        <img id="modalImage" src="" alt="Imagen en el Modal" class="w-full h-full object-contain rounded-xl">
        <button id="closeModal" class="absolute bottom-4 right-4 text-white bg-primary rounded-full w-8 h-8 flex items-center justify-center">&times;</button>
      </div>
    </div>
</div>
<!-- <div id="imageModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full h-full flex items-center justify-center">
      <div class="relative w-full h-full">
        <button id="closeModal" class="absolute top-2 right-2 text-white bg-gray-800 rounded-full w-8 h-8 flex items-center justify-center">&times;</button>
        <img id="modalImage" src="" alt="Imagen en el Modal" class="w-full h-full object-contain">
      </div>
    </div>
  </div> -->
<section id="testimonials" class="py-20 md:py-[90px] bg-gray-1 dark:bg-dark-2 overflow-hidden">
  <div class="container px-4">
    <div class="flex flex-wrap justify-center -mx-4">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[485px] text-center">
          <span class="block mb-2 text-lg font-semibold text-primary">
            Publicaciones
          </span>
          <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
            I Congreso Internacional Cusco 2024
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            El I Congreso Internacional de Salud Sexual y Reproductiva con Interculturalidad Basado en Evidencia se celebrará en Cusco en 2024. Este evento reunirá a expertos de Latinoamerica para discutir temas cruciales de salud sexual y reproductiva, integrando un enfoque intercultural y basado en evidencia.
          </p>
        </div>
      </div>
    </div>

    <div
      class="-m-5"
    >
      <div class="swiper testimonial-carousel common-carousel p-5">
        <div class="swiper-wrapper">
          {
            testimonials.map((testimonial) => (
              <div class="swiper-slide">
                {/* <div class="shadow-testimonial bg-white dark:bg-dark rounded-xl py-[30px] px-4 sm:px-[30px]" data-wow-delay=".1s">
                  <p class="text-body-color dark:text-dark-6 text-base mb-6">{testimonial.message}</p>
                    
                </div> */}
                <div class="w-[328px] h-[540px] rounded-xl overflow-hidden">
                    <img
                        src={testimonial.image}
                        alt="author"
                        class="gatos w-[328px] h-[540px] rounded-xl overflow-hidden"
                    />
                </div>
              </div>
            ))
          }
        </div>

        <div class="flex items-center justify-center mt-[60px] gap-1">
          <div class="swiper-button-prev">
            <svg class="fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.25 10.2437H4.57187L10.4156 4.29687C10.725 3.9875 10.725 3.50625 10.4156 3.19687C10.1062 2.8875 9.625 2.8875 9.31562 3.19687L2.2 10.4156C1.89062 10.725 1.89062 11.2063 2.2 11.5156L9.31562 18.7344C9.45312 18.8719 9.65937 18.975 9.86562 18.975C10.0719 18.975 10.2437 18.9062 10.4156 18.7687C10.725 18.4594 10.725 17.9781 10.4156 17.6688L4.60625 11.7906H19.25C19.6625 11.7906 20.0063 11.4469 20.0063 11.0344C20.0063 10.5875 19.6625 10.2437 19.25 10.2437Z" />
            </svg>
          </div>

          <div class="swiper-button-next">
            <svg class="fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.8 10.45L12.6844 3.2313C12.375 2.92192 11.8938 2.92192 11.5844 3.2313C11.275 3.54067 11.275 4.02192 11.5844 4.3313L17.3594 10.2094H2.75C2.3375 10.2094 1.99375 10.5532 1.99375 10.9657C1.99375 11.3782 2.3375 11.7563 2.75 11.7563H17.4281L11.5844 17.7032C11.275 18.0126 11.275 18.4938 11.5844 18.8032C11.7219 18.9407 11.9281 19.0094 12.1344 19.0094C12.3406 19.0094 12.5469 18.9407 12.6844 18.7688L19.8 11.55C20.1094 11.2407 20.1094 10.7594 19.8 10.45Z" />
            </svg>
          </div>
        </div>

      </div>
      <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="aspect-w-9 aspect-h-16">
              <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/WVBaAcyfQVk?si=QBSV95Q8wT63i8Cs" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="aspect-w-9 aspect-h-16">
              <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/NRgBq7CuTM0?si=5shbKGIWrRhBde5s" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="aspect-w-9 aspect-h-16">
              <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/d69DORpiRO0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="aspect-w-9 aspect-h-16">
              <iframe class="w-full h-96" height="315" src="https://www.youtube.com/embed/LxLoWnG95BM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
