---

---

<!-- ====== Brands Section Start -->
<section class="pb-20 dark:bg-dark">
  <div class="container px-4">
    <div class="w-full  mx-auto max-w-[1288px]  p-4">
        <div class="relative overflow-hidden rounded-lg shadow-lg" style="padding-top: 56.25%;">
          <iframe class="absolute inset-0 h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.1995659276035!2d-71.9534109!3d-13.5233411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd5e9f8be93f1%3A0xfa23a6655b59a5d3!2sColegio%20Regional%20de%20Obstetras%20X%20Cusco!5e0!3m2!1ses-419!2spe!4v1716981314802!5m2!1ses-419!2spe" width="1280" height="600" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade" ></iframe>
        </div>
      </div>
  </div>
</section>
<!-- ====== Brands Section End -->
