<!-- ====== Presentation Section Start ====== -->
<section id="presentation" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
        <div class="max-w-4xl mx-auto p-6">
            <!-- Título de la Presentación -->
            <h1 class="text-2xl font-bold mb-6 text-center text-primary dark:text-white">
                Presentación
            </h1>
            
            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                El Colegio de Obstetras del Perú es la Institución que representa a más de cuarenta y un mil (41000) Obstetras en todo el país; fue creado por DL N°12210 (1975) y por Ley N°28686 (2006) adecuó su denominación, fines y estatuto.
            </p>

            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                El Colegio de Obstetras del Perú, para cumplir sus fines, cuenta con estructuras funcionales y una de ellas es el Sistema Nacional de Desarrollo Profesional de Obstetricia – <span class="font-bold">SINADEPRO</span>, creado en el 2005.
            </p>

            <!-- Título de SINADEPRO -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white">
                SINADEPRO
            </h2>

            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                Es un sistema creado y conducido por el Colegio de Obstetras del Perú, con el propósito de fortalecer el desarrollo personal, profesional y social de los Obstetras Peruanos.
            </p>

            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                El Centro de Evaluación de Competencias Profesionales forma parte del Sistema.
            </p>

            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                Está dirigido solo a Obstetras, con el propósito de generar impacto en la calidad de atención brindada por los miembros de la orden del COP.
            </p>

            <p class="text-lg text-body-color dark:text-dark-7 mb-6">
                Busca contribuir en la mejora de los indicadores sanitarios y de satisfacción para contribuir al desarrollo humano del país.
            </p>

            <!-- Lista de Componentes -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white">
                COMPONENTES
            </h2>
            <ol class="list-decimal pl-6 space-y-4 text-lg text-body-color dark:text-dark-7">
                <li>Normalización de Competencias Profesionales.</li>
                <li>Evaluación de Competencias Profesionales.</li>
                <li>Certificación Profesional.</li>
                <li>Programa de Educación Continua en Obstetricia.</li>
                <li>Articulación de Instituciones Formadoras y Prestadoras.</li>
            </ol>

            <br>

            
            <!-- ¿Quién Certifica? -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white pt-6">
                ¿QUIÉN CERTIFICA?
            </h2>
            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                El COP es la Entidad Certificadora autorizada por el Sistema Nacional de Evaluación y Acreditación de la Calidad Educativa. Centro Evaluador de Competencias Profesionales autorizado por 5 años.
            </p>

            <!-- Objetivo -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white">
                OBJETIVO
            </h2>
            <p class="text-lg mb-6 text-body-color dark:text-dark-7">
                Fortalecer y proteger las competencias profesionales de los Obstetras, para el ejercicio libre y sin temores.
            </p>

            <!-- Preguntas y Respuestas -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white">
                PREGUNTAS y respuestas
            </h2>
            <div class="space-y-6 text-lg text-body-color dark:text-dark-7">
                <p><strong>¿Qué es la Certificación Periódica de competencias Profesionales del Obstetra?</strong><br>
                Es el proceso transparente, ordenado y planificado, por el cual las y los Obstetras demuestran periódicamente poseer sus competencias profesionales.</p>

                <p><strong>¿Quiénes participan?</strong><br>
                Participan todas las y los Obstetras con más de cinco (05) años de colegiatura.</p>

                <p><strong>¿Es OBLIGATORIO Certificar las competencias Profesionales?</strong><br>
                No, pero existe una obligación SOCIAL y/o MORAL.<br>
                <strong>SOCIAL Y MORAL:</strong> Para las y los Obstetras Decanas y Decanos, Consejeros y Consejeras.<br>
                <strong>SOCIAL:</strong> Para las y los Obstetras con más de cinco años de colegiatura.</p>

                <p><strong>¿En qué lugares se inicia la CERTIFICACIÓN?</strong><br>
                El COP es la Entidad Certificadora autorizada.<br>
                El COP continúa el proceso con la participación de 07 Colegios Regionales (CROS).</p>
            </div>

            <!-- Beneficios de la Certificación -->
            <h2 class="text-xl font-bold mb-4 text-primary dark:text-white pt-6">
                Beneficios de la Certificación
            </h2>
            <div class="space-y-6 text-lg text-body-color dark:text-dark-7">
                <p><strong>Para las y los OBSTETRAS</strong><br>
                Obstetras reconocidos y galardonados por la sociedad civil nacional e internacional.</p>

                <p><strong>Para las UNIVERSIDADES</strong><br>
                Universidades reconocidas por la calidad de profesionales que egresan.</p>

                <p><strong>Para la COMUNIDAD</strong><br>
                Recibe una adecuada atención de salud con profesionales actualizados y competentes.</p>

                <p><strong>Para el ESTADO</strong><br>
                Regulación y ejecución de políticas del ejercicio profesional de Obstetricia.</p>

                <p><strong>Para los EMPLEADORES</strong><br>
                Profesionales Obstetras trabajando para la mejora continua de la calidad de atención y usuarios satisfechos.</p>
            </div>
        </div>
    </div>
</section>
<!-- ====== Presentation Section End ====== -->
