<!-- ====== About Section Start -->
<section
  id="about"
  class="bg-gray-1 dark:bg-dark-2 pt-20 pb-8 lg:pt-[120px] lg:pb-[70px]"
>
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-12 max-w-[540px] lg:mb-0">
            <div class="-mx-4 flex flex-wrap">
              <div class="w-full px-4">
                <div class="mx-auto mb-[60px] max-w-[485px] text-center">
                  <span class="text-primary mb-2 block text-lg font-semibold">
                    Gestión 2022 - 2025
                  </span>
                  <h2 class="mb-3 text-3xl leading-[1.2] font-titulo font-bold text-dark dark:text-white sm:text-4xl md:text-[40px]">
                    Quienes somos
                  </h2>
                  <p class="text-body-color dark:text-dark-6 text-base">
                    CONSEJO REGIONAL DE OBSTETRAS X CUSCO
                  </p>
                </div>
              </div>
            </div>
            <h2
              class="mb-5 text-2xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
              Misión
            </h2>
            <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
              El Colegio Regional de Obstetras X Cusco tiene como misión ejercer la defensa, vigilancia y desarrollo de la profesión, basado en sus principios éticos y deontológicos con calidad, garantizando la gestión al servicio del colegiado, impulsando el rol social y humanístico con el propósito de mejorar la salud sexual y reproductiva de las mujeres, familia y comunidad contribuyendo al desarrollo del Perú.
              <!-- <br> <br> -->
            </p>
            <!-- <br> <br> -->
            <h2
              class="mb-5 text-2xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
              Visión
            </h2>
            <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
              En el 2030, el Colegio de Regional de Obstetras X Cusco será una institución líder y reconocida por la sociedad, con profesionales competentes que brindan trato humanizado con calidad, en todos los ámbitos de su desarrollo profesional, contribuyendo a mejorar la salud pública con énfasis en la salud sexual y reproductiva de la población.
              <!-- <br> <br> -->
            </p>
            
          </div>
        </div>

        <div class="w-full px-4 lg:w-1/2">

          <div class="flex flex-wrap -mx-2 sm:-mx-4 lg:-mx-2 xl:-mx-4">
            


            <div class="w-full px-2 sm:w-9/12 sm:px-4 lg:px-2 xl:px-4 bg-primary relative z-10 mb-4 flex items-center justify-center overflow-hidden py-12 sm:mb-8 sm:h-[160px] sm:p-5 lg:mb-4 xl:mb-8">
              <div>
                <span class="block text-base font-semibold text-white">
                  El Colegio
                </span>
                <span class="block text-3xl font-extrabold text-white">
                  Regional de Obstetras
                </span>
                <span class="block text-base font-medium text-white text-opacity-70">
                  X Cusco
                </span>
                <div>
                  <span class="absolute top-0 left-0 -z-10">
                    <svg width="106" height="144" viewBox="0 0 106 144" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="-67" y="47.127" width="113.378" height="131.304"
                        transform="rotate(-42.8643 -67 47.127)" fill="url(#paint0_linear_1416_214)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_214" x1="-10.3111" y1="47.127" x2="-10.3111"
                          y2="178.431" gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                  <span class="absolute top-0 right-0 -z-10">
                    <svg width="130" height="97" viewBox="0 0 130 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="0.86792" y="-6.67725" width="155.563" height="140.614"
                        transform="rotate(-42.8643 0.86792 -6.67725)" fill="url(#paint0_linear_1416_215)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_215" x1="78.6495" y1="-6.67725" x2="78.6495"
                          y2="133.937" gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                  <span class="absolute bottom-0 right-0 -z-10">
                    <svg width="175" height="104" viewBox="0 0 175 104" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <rect opacity="0.1" x="175.011" y="108.611" width="101.246" height="148.179"
                        transform="rotate(137.136 175.011 108.611)" fill="url(#paint0_linear_1416_216)" />
                      <defs>
                        <linearGradient id="paint0_linear_1416_216" x1="225.634" y1="108.611" x2="225.634" y2="256.79"
                          gradientUnits="userSpaceOnUse">
                          <stop stop-color="white" />
                          <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                </div>
              </div>
            </div>

            <div class="w-full px-2 sm:w-1/4 sm:px-4 lg:px-2 xl:px-4">
              <div class="mb-4 sm:mb-8 sm:h-[220px] md:h-[346px] lg:mb-2 lg:h-[160px] ">
                <img src="/assets/about/logo-image-03.jpg" alt="logo"
                  class="object-cover object-center w-full h-full" />
              </div>
            </div>

            <div class="w-full pr-4">
              <div class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[400px]">
                <img src="/assets/nosotros/directivov2.jpg" alt="directivo"
                  class="object-cover object-center w-full h-full" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
