
<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-3 pb-3 lg:pt-[20px] lg:pb-[20px]">
    <div class="container">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">
          <div class="mx-auto mb-[60px] max-w-[485px] text-center">
            <span class="text-primary mb-2 block text-lg font-semibold">
              Según el Estatuto del Colegio de Obstetras del Perú adecuado a la Ley Nº 28686
            </span>
            <h2 class="mb-3 text-lg leading-[1.2] font-bold text-dark dark:text-white sm:text-lg md:text-[20px]">
              LOS SÍMBOLOS REPRESENTATIVOS
            </h2>
            <p class="text-body-color dark:text-dark-6 text-base">
              <b>Artículo 8º.</b> El Colegio de Obstetras del Perú, reconoce como símbolos representativos de la profesión e institución: el Emblema, la Insignia, el Himno y Uniforme Oficial. Las características y especificaciones de cada uno quedarán señalados en el Reglamento.
            </p>
          </div>

          <div class="flex flex-col md:flex-row gap-4">
            <!-- Columna 1: 1/4 del ancho en md: y 100% en pantallas pequeñas -->
            <div class="w-full md:w-1/4 p-4 bg-gray-200 rounded-2xl">
              <!-- Contenido de la primera columna -->
              <img src="/assets/simbolo-uniforme/emblema.webp" alt="team image" class="h-auto w-full rounded-2xl" />
            </div>
          
            <!-- Columna 2: 3/4 del ancho en md: y 100% en pantallas pequeñas -->
            <div class="w-full md:w-3/4 p-4 bg-gray-100 rounded-2xl">
              <!-- Contenido de la segunda columna -->
              <span class="text-primary mb-2 block text-lg font-semibold text-center pt-4">
                Ver Resolución de Consejo Directivo Nacional No. 068-2017/CDN/COP.
              </span>
              <p class="pt-6 px-8"><b>Artículo 9º.</b> El emblema es el símbolo que se representa en el TUMI, e incorpora al centro el Caduceo, a los extremos el Decreto Ley Nº 21210, Ley de Creación del Colegio de Obstetrices del Perú; la Ley Nº 23646, Ley de Profesión Médica; la Ley Nº 28686, Ley que modifica la Ley de Creación del Colegio de Obstetrices del Perú y, rodeando la parte inferior, la denominación del Colegio de Obstetras del Perú.</p>
              <p class="pt-6 px-8"><b>Artículo 10º.</b> El Emblema es registrado por el Colegio de Obstetras del Perú, en el que tiene derechos reservados para su reproducción.</p>
              <p class="pt-6 px-8"><b>Artículo 11º.</b> El Emblema es parte de la Insignia oficial del Colegiado, estandartes, banderolas, membretes, documentos oficiales y otros que se requieran.</p>
              <p class="pt-6 px-8"><b>Artículo 12º.</b> Los Miembros Directivos del Colegio de Obstetras del Perú, usan la medalla con el emblema institucional con cinta de color guinda, en los actos oficiales del Colegio de Obstetras del Perú y otros.</p>
            </div>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4">
            <!-- Card 1 -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold mb-2 text-center">LA INSIGNIA</h2>
                <p class="text-gray-600"><b>Artículo 13º.</b> La Insignia es el distintivo honorífico del Colegiado, es de uso obligatorio a nivel nacional.</p>
              </div>
              <!-- <img src="https://via.placeholder.com/400x200" alt="Imagen 1" class="w-full h-48 object-cover" /> -->
            </div>
          
            <!-- Card 2 -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold mb-2 text-center">EL HIMNO</h2>
                <p class="text-gray-600"><b>Artículo 14º.</b> El Himno del Colegio de Obstetras del Perú debe entonarse en todos los actos oficiales y protocolares.</p>
              </div>
              <!-- <img src="https://via.placeholder.com/400x200" alt="Imagen 2" class="w-full h-48 object-cover" /> -->
            </div>
          </div>

         
          <div class="grid grid-cols-1 gap-4 p-4">
            <!-- Card 1: Ancho completo -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold mb-2 text-center">EL UNIFORME OFICIAL​</h2>
                <p class="text-gray-600"><b>Artículo 15º.</b> El Colegio de Obstetras del Perú establece el uso del Uniforme Oficial de color blanco y guinda con predominio del primero sobre el segundo, como se encuentra descrito en el Reglamento. Saco blanco, blusa guinda, falda blanca y zapatos de color guindas.</p>
              </div>
              <!-- <img src="https://via.placeholder.com/800x400" alt="Imagen 1" class="w-full h-64 object-cover" /> -->
            </div>
          
            <!-- Cards 2, 3 y 4: Mitad del ancho cada una -->
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
              <!-- Card 2 -->
              <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
                <div class="p-4 flex-grow">
                  <h2 class="text-xl font-semibold text-center">MUJER CON UNIFORME CORRECTO</h2>
                </div>
                <img src="/assets/simbolo-uniforme/uniforme-mujer.jpg" alt="Imagen 2" class="w-full h-full object-cover" />
              </div>
          
              <!-- Card 3 -->
              <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
                <div class="p-4 flex-grow">
                  <h2 class="text-xl font-semibold text-center">HOMBRE CON UNIFORME CORRECTO</h2>
                </div>
                <img src="/assets/simbolo-uniforme/uniforme-varon.jpg" alt="Imagen 3" class="w-full h-full object-cover" />
              </div>
          
              <!-- Card 4 -->
              <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
                <div class="p-4 flex-grow">
                  <h2 class="text-xl font-semibold text-center">ESTANDARTE</h2>
                </div>
                <img src="/assets/simbolo-uniforme/estandarte.jpg" alt="Imagen 4" class="w-full h-full object-cover" />
              </div>
            </div>
          </div>

           <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
            <div class="col-span-1 bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold text-center">SOLAPERO</h2>
              </div>
              <img src="/assets/simbolo-uniforme/solapero.jpg" alt="Imagen 2" class="w-full h-full object-cover" />
            </div>
            <div class="col-span-1 bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold text-center">CARNET</h2>
              </div>
              <img src="/assets/simbolo-uniforme/carnet.jpg" alt="Imagen 3" class="w-full h-full object-cover" />
            </div>
            <div class="col-span-1 bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
              <div class="p-4 flex-grow">
                <h2 class="text-xl font-semibold text-center">EL EMBLEMA</h2>
              </div>
              <img src="/assets/simbolo-uniforme/emblema1.jpg" alt="Imagen 3" class="w-full h-full object-cover" />
            </div>
          </div>


        </div>
      </div>
    </div>
</section>